@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  margin: 0;
  padding: 0;
}

.background-image {
  background-image: url('../public/assets/desktop-image.jpg');
  background-size: cover;
  background-position: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  /* Ensure it's behind other content */
}

@media (max-width: 768px) {

  /* Adjust based on your mobile breakpoint */
  .background-image {
    background-image: url('../public/assets/desktop-image.jpg');
  }
}